name: Neovim

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        neovim_version:
          - 'nightly'
          - 'v0.4.3'
    runs-on: ubuntu-latest
    steps:
      - uses: 'actions/checkout@v2'

      - name: Install vader.vim
        run: git clone --depth=1 https://github.com/junegunn/vader.vim.git test/vader/vader.vim

      - name: 'setup Neovim'
        uses: 'thinca/action-setup-vim@v1'
        with:
          vim_version: '${{ matrix.neovim_version }}'
          vim_type: 'Neovim'

      - name: Install nvim-treesitter
        run: git clone --depth=1 https://github.com/nvim-treesitter/nvim-treesitter.git test/vader/plugged/nvim-treesitter

      - name: Install python treesitter module
        run: nvim --headless -Nu test/vader/minvimrc -c 'TSInstallSync python' -c 'q'

      - name: 'Show version'
        run: nvim --version

      - name: 'Run test'
        run: |
          bash -c 'VIMCMD=nvim test/vader/run'
